.cart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.back-icon {
  cursor: pointer;
  color: aqua;
}
